@charset "UTF-8";
/* myStyle.css */
body {
 background-color: #eaeaea
}
h1 {
  font-size: 150px;
  text-align: center;
  font-family: Arial;
  color: #555
}
p {
  font-size: 15px;
  text-align: left;
  font-family: Arial;
  margin-left: 500px;
}
h2 {
 text-align: center;
 font-family: Helvetica;
 font-size: 10px;
 margin-top: 200px;
}
h3 {
  font-size: 50px;
  text-align: center;
  font-family: Arial;
  color: #555
}
