@charset "UTF-8";
/* myStyle.css */
body {
 background-color: #eaeaea
}


#clockdiv{
	font-family: sans-serif;
	color: #555;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
  padding-left: 500px;
  padding-top: 100px;
}

#clockdiv > div{
	padding: 15px;
	border-radius: 50px;
	background: #eaeaea;
	display: inline-block;
}

#clockdiv div > span{
	padding: 20px;
	border-radius: 100px;
	background: #b8b8b8;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

h1 {
  font-size: 150px;
  text-align: center;
  font-family: Arial;
  color: #555
}
p {
  font-size: 15px;
  text-align: left;
  font-family: Arial;
  margin-left: 500px;
}
h2 {
 text-align: center;
 font-family: Helvetica;
 font-size: 10px;
 margin-top: 60px;
}
h3 {
  font-size: 50px;
  text-align: center;
  font-family: Arial;
  color: #555
}
